@charset "UTF-8";
header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: #F7005B;
  block-size: 100px;
  padding: 0px;
  margin: 0px; }

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: #333341;
  block-size: 650px; }

div.bar {
  grid-row: 5/6;
  grid-column: 1/10;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: #F7005B; }

div.login {
  grid-column: 5/6;
  margin: auto;
  font-size: 25px;
  color: white;
  text-decoration: none; }

div.skapa-konto {
  grid-column: 6/7;
  margin: auto;
  font-size: 25px; }

div.adoptera-katt {
  grid-column: 3/4;
  font-size: 25px;
  margin: auto; }

div.adoptera-katt a {
  color: white;
  text-decoration: none; }

div.lämna-katt a {
  color: white;
  text-decoration: none; }

div.login a {
  color: white;
  text-decoration: none; }

div.skapa-konto a {
  color: white;
  text-decoration: none; }

div.lämna-katt {
  grid-column: 4/5;
  font-size: 25px;
  color: white;
  margin: auto; }

img.image1 {
  grid-row: 1/5;
  grid-column: 1/4;
  width: 500px; }

img.image2 {
  grid-row: 1/5;
  grid-column: 4/7;
  width: 500px; }

img.image3 {
  grid-row: 1/5;
  grid-column: 7/10;
  width: 500px; }

p {
  grid-row: 6/8;
  grid-column: 4/7;
  color: white;
  font-size: 30px;
  margin: auto; }

.hamburgare_meny {
  visibility: hidden;
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 4, 1fr;
  width: 103px;
  height: 0px;
  background-color: #333341;
  position: absolute;
  transition: 0.25s;
  overflow: hidden; }

.show {
  visibility: visible;
  height: 336px;
  transition: 0.25s; }

i.material-icons {
  grid-row: 1/1;
  align-content: center;
  margin: auto;
  font-size: 40px; }

.outmenu {
  grid-row: 1/1;
  position: absolute;
  align-items: center;
  margin: auto;
  font-size: 40px; }

img.image4 {
  grid-row: 2/3;
  grid-column: 2/3; }

img.image5 {
  grid-row: 2/3;
  grid-column: 3/4; }

img.image6 {
  grid-row: 2/3;
  grid-column: 6/8; }

p.Mans {
  grid-row: 2/3;
  grid-column: 1/2; }

p.Runa {
  grid-row: 2/3;
  grid-column: 3/4; }

p.Elof {
  grid-row: 5/6;
  grid-column: 1/2; }

p.Lisa {
  grid-row: 5/6;
  grid-column: 3/4; }

p.oppetider {
  grid-row: 2/3;
  grid-column: 3/5;
  font-size: 50px;
  margin: auto; }

p.Telefon {
  grid-row: 5/7;
  grid-column: 3/5;
  font-size: 40px;
  margin: auto; }

p.Information {
  grid-row: 2/3;
  grid-column: 6/8;
  font-size: 25px; }

img.image8 {
  grid-row: 4/5;
  grid-column: 1/2; }

img.image11 {
  grid-row: 4/5;
  grid-column: 3/4; }

img.image9 {
  grid-row: 1/2;
  grid-column: 3/4; }

div.katt1 {
  grid-row: 2/4;
  grid-column: 1/2; }

div.katt2 {
  grid-row: 2/4;
  grid-column: 3/4; }

div.katt3 {
  grid-row: 5/7;
  grid-column: 1/2; }

div.katt4 {
  grid-row: 5/7;
  grid-column: 3/4; }

button.katt4 {
  text-decoration: none;
  font-size: 20px;
  height: 50px; }

div.katt button {
  font-size: 20px;
  height: 50px;
  width: 100%;
  background-color: #F7005B;
  color: white; }

img.image16 {
  width: 270px;
  grid-row: 1/2;
  grid-column: 7/8; }

img.image17 {
  width: 270px;
  grid-row: 4/5;
  grid-column: 7/8; }

img.image18 {
  width: 260;
  grid-row: 1/2;
  grid-column: 9/10; }

img.image19 {
  width: 260;
  grid-row: 4/5;
  grid-column: 9/10; }

p.Panda {
  grid-row: 2/3;
  grid-column: 7/8;
  font-size: 25; }

p.Evert {
  grid-row: 2/3;
  grid-column: 9/10;
  font-size: 25; }

p.Randalf {
  grid-row: 5/6;
  grid-column: 7/8;
  font-size: 25; }

p.Sofi {
  grid-row: 5/6;
  grid-column: 9/10;
  font-size: 25; }

div.Information a {
  text-decoration: none;
  color: white; }

div.cat-galleri a {
  text-decoration: none;
  color: white; }

div.index a {
  text-decoration: none;
  color: white; }

@media (max-width: 720px) {
  img.image1 {
    display: none; }

  img.image3 {
    display: none; }

  img.image2 {
    width: 343px;
    grid-row: 1/4;
    grid-column: 1/7; }

  .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #333341; }

  div.bar {
    grid-row: 4/5;
    grid-column: 1/10;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #F7005B;
    height: 50px; }

  div.adoptera-katt {
    grid-column: 2/4;
    font-size: 15px;
    margin: auto; }

  div.lämna-katt {
    grid-column: 4/6;
    font-size: 15px;
    color: white;
    margin: auto; }

  p {
    grid-row: 5/7;
    grid-column: 3/6;
    color: white;
    font-size: 20px;
    margin: auto; }

  div.login {
    grid-column: 4/5;
    margin: auto;
    font-size: 15px;
    color: white;
    text-decoration: none; }

  div.skapa-konto {
    grid-column: 5/7;
    margin: auto;
    font-size: 15px; }

  img.image8 {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 120px; }

  img.image11 {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 120px; }

  img.image9 {
    grid-row: 4/5;
    grid-column: 1/2;
    width: 120px; }

  img.image7 {
    width: 120px; }

  p.Mans {
    grid-row: 1/2;
    grid-column: 3/6;
    font-size: 13px; }

  p.Runa {
    grid-row: 2/3;
    grid-column: 3/6;
    font-size: 13px; }

  p.Elof {
    grid-row: 3/4;
    grid-column: 3/6;
    font-size: 13px; }

  p.Lisa {
    grid-row: 4/5;
    grid-column: 3/6;
    font-size: 13px; }

  p.oppetider {
    grid-row: 2/3;
    grid-column: 3/5;
    font-size: 15px;
    margin: auto; }

  p.Telefon {
    grid-row: 3/4;
    grid-column: 3/5;
    font-size: 15px;
    margin: auto; }

  p.Information {
    grid-row: 4/7;
    grid-column: 3/5;
    font-size: 15px; }

  div.katt button {
    font-size: 20px;
    height: 50px;
    width: 100%;
    background-color: #F7005B;
    color: white;
    width: 170px; }

  button.katt4 {
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    width: 100px; }

  img.image10 {
    grid-row: 2/3;
    grid-column: 4/5;
    width: 170px; }

  img.image12 {
    grid-row: 3/4;
    grid-column: 5/6;
    width: 170px; }

  img.image13 {
    grid-row: 4/5;
    grid-column: 4/5;
    width: 170px; }

  img.image14 {
    width: 170px;
    grid-row: 5/6;
    grid-column: 4/5; }

  img.image15 {
    grid-column: 2/6;
    grid-row: 2/5;
    width: 310px; }

  button.bokatraff {
    grid-row: 5/6;
    grid-column: 2/7;
    font-size: 25px;
    background-color: #F7005B;
    color: white; }

  img.image16 {
    width: 120px;
    grid-row: 5/6;
    grid-column: 1/2; }

  img.image17 {
    width: 120px;
    grid-row: 6/7;
    grid-column: 1/2; }

  img.image18 {
    width: 120px;
    grid-row: 7/8;
    grid-column: 1/2; }

  img.image19 {
    width: 120px;
    grid-row: 8/9;
    grid-column: 1/2; }

  p.Panda {
    grid-row: 5/6;
    grid-column: 3/6;
    font-size: 13px; }

  p.Evert {
    grid-row: 6/7;
    grid-column: 3/6;
    font-size: 13px; }

  p.Randalf {
    grid-row: 7/8;
    grid-column: 3/6;
    font-size: 13px; }

  p.Sofi {
    grid-row: 8/9;
    grid-column: 3/6;
    font-size: 13px; }

  div.Information a {
    text-decoration: none;
    color: white; }

  div.cat-galleri a {
    text-decoration: none;
    color: white; }

  div.index a {
    text-decoration: none;
    color: white; } }
