<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/layoute.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <i class="material-icons outmenu" onclick="toggleMenu()">menu</i>
        
            <div class="hamburgare_meny">
                <i class="material-icons inmenu" onclick="toggleMenu()">menu</i>
                <div class="Information"><a href="Information.html">Information</a></div>
                <div class="cat-galleri"><a href="Kattgalleri.html">Kattgalleri</a></div>
                <div class="index"><a href="index.html">Starsida</a></div>
            </div>

        <div class="login"><a href="login.html">Login</a></div> 
        <div class="skapa-konto"><a href="skapa-konto.html">Skapa Konto</a></div>        
    </header>
    
    <main>
        <div class="container">
    <P class="oppetider">
        Öppetider 

        9-17 Mån-Fre
        11-17 Lördagar 
        13-16 Söndagar 
    </P>

    <p class="Telefon">
        Telefon 

        08454893472640273
    </p>

    <P class="Information">
        Vi öppnade dett katt år 2000 och har under det 18 år som vi har varit igång givit katter ny hem med ders lyckliga ägare och vi tänker inte sluta med det vi håller på med för här på katthemet så älskar vi alla slags katter.
    </P>
</div>
    </main>

    <script src="js/hamburgare_meny.js"></script>
    
</body>
</html>