<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/layoute.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <i class="material-icons outmenu" onclick="toggleMenu()">menu</i>
        
            <div class="hamburgare_meny">
                <i class="material-icons inmenu" onclick="toggleMenu()">menu</i>
                <div class="Information"><a href="Information.html">Information</a></div>
                <div class="cat-galleri"><a href="Kattgalleri.html">Kattgalleri</a></div>
                <div class="index"><a href="index.html">Starsida</a></div>
            </div>

        <div class="login"><a href="login.html">Login</a></div> 
        <div class="skapa-konto"><a href="skapa-konto.html">Skapa Konto</a></div>        
    </header>
    
    <main>
        <div class="container">
    <img src="img\katt10.jpg" alt="katt10.jpg" class="image7" />
    <img src="img\katt11.jpg" alt="katt11.jpg" class="image8" />
    <img src="img\katt12.jpg" alt="katt12.jpg" class="image9" />
    <img src="img\Benny.jpg" alt="Benny.jpg" class="image11" />

    <p class="Mans">Måns gillar att leka med sin leksaksmus på hans fritid</p>
    <p class=Runa>Runa är en glad och lättsam katt som gäran leker mycket</p>
    <p class="Elof">Elof gillar att sola mycket på de soliga dagarna som finns</p>
    <p class="Lisa">Lisa är en väldigt människosjuk katt som gillar att umgås</p>
    
</div>



    </main>

    <script src="js/hamburgare_meny.js"></script>
    
</body>
</html>