<div class="container">
    <div class="katt katt1">
            <img src="img\katt10.jpg" alt="katt10.jpg" class="image14"/>
            <button>Läs mer</button>
    </div>
    <div class="katt katt2">
            <img src="img\katt11.jpg" alt="katt11.jpg" class="image13"/>
            <button>Läs mer</button>
    </div>
    <div class="katt katt3">
            <img src="img\katt12.jpg" alt="katt12.jpg" class="image12"/>
            <button>Läs mer</button>
    </div>
    <div class="katt katt4">
        <img src="img\Benny.jpg" alt="Benny.jpg" class="image10" />
        <a href="hämta-katt.html"><button>Läs mer</button></a>
    </div>
    
</div>