<link rel="stylesheet" href="css/index.css">

  


<div class="container">
        <img src="img\katt1.jpg" alt="katt1.jpg" class="image1"></div>
        <img src="img\katt2.jpg" alt="katt2.jpg" class="image2"></div>
        <img src="img\katt3.jpg" alt="katt3.jpg" class="image3"></div>
        <div class="adoptera-katt"><a href="adoptera-katt.html">Adoptera katt</a></div>
        <div class="lämna-katt"><a href="lämna-Katt.html">Lämna katt</a></div>
    </div> 




