<link rel="stylesheet" href="css/index.css">
<div class="container">
    <img src="img\katt1.jpg" alt="katt1.jpg" class="image1" />
    <img src="img\katt7.jpg" alt="katt7.jpg" class="image2" />
    <img src="img\katt8.jpg" alt="katt8.jpg" class="image3" />
    
    <div class="bar">
    <div class="adoptera-katt"><a href="adoptera-katt.html">Adoptera katt</a></div>
    <div class="lämna-katt"><a href="lämna-Katt.html">Lämna katt</a></div>
    </div>
    <p>vi älskar katter och jobbar aktivt för att göra det så bra som möjligt för våra vackra katter.</p>
</div> 





