<div class="container">
    <P class="oppetider">
        Öppetider 

        9-17 Mån-Fre
        11-17 Lördagar 
        13-16 Söndagar 
    </P>

    <p class="Telefon">
        Telefon 

        08454893472640273
    </p>

    <P class="Information">
        Vi öppnade dett katt år 2000 och har under det 18 år som vi har varit igång givit katter ny hem med ders lyckliga ägare och vi tänker inte sluta med det vi håller på med för här på katthemet så älskar vi alla slags katter.
    </P>
</div>