<img src="img\katt1.jpg" alt="katt1.jpg" class="image1" />
<img src="img\katt2.jpg" alt="katt2.jpg" class="image2" />
<img src="img\katt3.jpg" alt="katt3.jpg" class="image3" />
<img src="img\katt4.jpg" alt="katt4.jpg" class="image4" />
<img src="img\katt5.jpg" alt="katt5.jpg" class="image5" />
<img src="img\katt6.jpg" alt="katt6.jpg" class="image6" />

<p class="Måns">Måns gillar att leka med sin leksaks mus på hans fritid</p>
<p class=Runa>Runa är en glad och lättsam katt som gäran leker mycket</p>
<p class="Elof">Elof gillar att sola mycket på de soliga dagarna som finns</p>
<p class="Lisa">Lisa är en väldigt människo sjuk katt som gillar att umgås</p>
<p class="Pelle">Pelle är lung och gillar att sova</p>
