<div class="container">
    <img src="img\katt10.jpg" alt="katt10.jpg" class="image7" />
    <img src="img\katt11.jpg" alt="katt11.jpg" class="image8" />
    <img src="img\katt12.jpg" alt="katt12.jpg" class="image9" />
    <img src="img\Benny.jpg" alt="Benny.jpg" class="image11" />

    <p class="Mans">Måns gillar att leka med sin leksaksmus på hans fritid</p>
    <p class=Runa>Runa är en glad och lättsam katt som gäran leker mycket</p>
    <p class="Elof">Elof gillar att sola mycket på de soliga dagarna som finns</p>
    <p class="Lisa">Lisa är en väldigt människosjuk katt som gillar att umgås</p>
    
</div>


