<div class="container">
    <img src="img\katt10.jpg" alt="katt10.jpg" class="image7" />
    <img src="img\katt11.jpg" alt="katt11.jpg" class="image8" />
    <img src="img\katt12.jpg" alt="katt12.jpg" class="image9" />
    <img src="img\Benny.jpg" alt="Benny.jpg" class="image11" />
    <img src="img/Panda.png" alt="Panda.png"class="image16">
    <img src="img/katt16.jpg" alt="katt13.jpg" class="image17">
    <img src="img/katt14.jpg" alt="katt14.jpg" class="image18">
    <img src="img/katt15.jpg" alt="katt15.jpg" class="image19">

    <p class="Mans">Måns gillar att leka med sin leksaksmus på hans fritid</p>
    <p class=Runa>Runa är en glad och lättsam katt som gäran leker mycket</p>
    <p class="Elof">Elof gillar att sola mycket på de soliga dagarna som finns</p>
    <p class="Lisa">Lisa är en väldigt människosjuk katt som gillar att umgås</p>
    <p class="Panda">Panda gillar att äta mat</p>
    <p class="Evert">Evert är lat och gillar att sova stor del av dagen</p>
    <p class="Randalf">Randalf är en riktig latmask</p>
    <p class="Sofi">Sofi gillar att ligga i solen</p>
</div>


