<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/layoute.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="hamburger-meny">
            <div class="information"><link rel="stylesheet" href="information"></div>
            <div class="cat-galleri"><link rel="stylesheet" href="cat-galleri"></div>
        </div>

        <div class="login"><a href="login.html">Login</a></div> 
            <div class="skapa-konto"><a href="skapa-konto.html">Skapa Konto</a></div>        
    </header>

    
    <main>
        <%= yield %>
    </main>
    
</body>
</html>