header{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    background-color:#F7005B;
    block-size: 100px;
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color:#333341;
    block-size: 650px;
}

div.bar{
    grid-row: 6/7;
    grid-column: 1/10;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    background-color: #F7005B;
}

div.login{
    grid-column: 5/6;
    margin: auto;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

div.skapa-konto{
    grid-column: 6/7;
    margin: auto;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

div.adoptera-katt{
    grid-column: 3/4;
    font-size: 25px;
    color: white;
    margin: auto;

}

div.lämna-katt{
    grid-column: 4/5;
    font-size: 25px;
    color: white;
    margin: auto;
}

img.image1{
    grid-row: 1/5;
    grid-column: 1/4;
    width: 500px;
}

img.image2{
    grid-row: 1/5;
    grid-column: 4/7;
    width: 500px;
}

img.image3{
    grid-row: 1/5;
    grid-column: 7/10;
    width: 500px;
}

p{
    grid-row: 7/9; 
    grid-column: 4/7;
    color: white;
    font-size: 30px;
}

.hamburgare_meny{
    display: none;  
    grid-template-columns: (3, 1fr);
    grid-template-rows: (4, 1fr);
    width: 103px;
    height: 336px;
    background-color: #C5DEFF;
    position: absolute; 
}

.show{
    display: grid;
}

i.material-icons{
    grid-row: 1/1;
    align-content: center;
    margin: auto;
    font-size: 40px;
}

.outmenu{
    grid-row: 1/1;
    position: absolute;
    align-items: center;
    margin: auto;
    font-size: 40px;
}

img.image4{
    grid-row: 2/3;
    grid-column: 2/3;
}

img.image5{
    grid-row: 2/3;
    grid-column: 3/4;
}

img.image6{
    grid-row: 2/3;
    grid-column: 6/8;
}

p.Mans{
    grid-row: 4/6;
    grid-column: 1/2;
}

p.Runa{
    grid-row: 4/6;
    grid-column: 2/3;
}

p.Elof{
    grid-row: 4/6;
    grid-column: 3/4;
}

p.Lisa{
    grid-row: 4/6;
    grid-column: 4/5
}

p.Pelle{
    grid-row: 4/6;
    grid-column: 6/7;
}

p.oppetider{
    grid-row: 2/3;
    grid-column: 3/5;
    height: 40px;
    width: 10px;
    margin: auto;
}

p.Telefon{
    grid-row: 2/3;
    grid-column: 6/8;
    height: 40px;
    width: 10px;
    margin: auto;
}

p.Information{
    grid-row: 5/7;
    grid-column: 4/7
}

