header{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    background-color:#F7005B;
    block-size: 100px;
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color:#333341;
    block-size: 650px;
}

div.bar{
    grid-row: 5/6;
    grid-column: 1/10;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    background-color: #F7005B;
}

div.login{
    grid-column: 5/6;
    margin: auto;
    font-size: 25px;
}

div.skapa-konto{
    grid-column: 6/7;
    margin: auto;
    font-size: 25px;
}

div.adoptera-katt{
    grid-row: 5/6;
    grid-column: 3/4;
    margin: auto;
    font-size: 25px;
    color: white;

}

div.lämna-katt{
    grid-row: 5/6;
    grid-column: 4/5;
    margin: auto;
    font-size: 25px;
    color: white;
}

img.image1{
    grid-row: 2/5;
    grid-column: 1/4;
    width: 300px;
}

img.image2{
    grid-row: 2/5;
    grid-column: 4/7;
    width: 300px;
}

img.image3{
    grid-row: 2/5;
    grid-column: 7/10;
    width: 300px;
}

p{
    grid-row: 7/8; 
    grid-column: 4/7;
    color: white;
}

.hamburgare_meny{
    display: none;  
    grid-template-columns: (3, 1fr);
    grid-template-rows: (4, 1fr);
    width: 103px;
    height: 336px;
    background-color: #C5DEFF;
    position: absolute; 
}

.show{
    display: grid;
}

i.material-icons{
    grid-row: 1/1;
    align-content: center;
    margin: auto;
    font-size: 40px;
}

.outmenu{
    grid-row: 1/1;
    position: absolute;
    align-items: center;
    margin: auto;
    font-size: 40px;
}

img.image4{
    grid-row: 1/2
}
